.recommend-whiskey-answer-container {
    display: none;

    border: 1px solid darkgray;
    border-radius: 10rem;

    width: 100%;
    height: 59.5vh;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.whiskey-img-box {
    width: 50%;
    height: 100%;
    display: flex;
}

.recommend-whiskey-img {
    width: auto;
    height: 100%;

    margin-left: auto;

    object-fit: cover;
}

.recommended-whiskey-box {
    width: 100%;
    height: 50%;

    margin-top: 2.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recommended-whiskey-name-proof {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    font-weight: bold;
}

.recommend-whiskey-name {
    display: flex;

    width: 100%;
    height: 50%;

    align-items: flex-end;
}

.recommend-whiskey-proof {
    width: 100%;
    height: 40%;
}

.recommend-whiskey-explanation {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40%;
}

.recommend-whiskey-price {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10%;
}

.button-box {
    display: flex;
    width: 100%;
    height: 10%;

    padding-top: 2.5%;
    padding-bottom: 2.5%;

    justify-content: center;
}

.exit,
.more-info {
    width: 30%;
    height: 100%;

    background-color: lightgray;

    border: 1px solid #121212;
    border-radius: 10rem;
}

.exit {
    margin-right: 1.5%;
}

.more-info {
    margin-right: 1.5%;
}

.exit:hover,
.more-info:hover {
    background-color: darkgray;
}