<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <nav class="navbar">
        <img src="/images/logo.png" class="logo-image">
        <div class="username"></div>
        <div style="margin-left:auto;">
            <button class="header-button one" onclick="location.href='/pages/main'">Main</button>
            <button class="header-button two" onclick="location.href='/pages/liquor'">Liquor</button>
            <button class="header-button three" onclick="location.href='/pages/community'">Community</button>
            <button class="header-button four" onclick="signInAndOut()">TEMP</button>
        </div>
    </nav>
</th:block>
</html>