/*

    STYLE

*/
.container {
    border: 1px solid black;
}

.content {
    border: 1px solid red;
}

.empty-div {
    border: 1px solid blue;
}

.footer {
    border: 1px solid purple;
}

/*

    MAIN

*/
.explanation {
    /*border: 1px solid yellow;*/
}

.explanation-top {
    border: 1px solid cyan;
}

.explanation-center {
    border: 1px solid cyan;
}

.explanation-bottom {
    border: 1px solid cyan;
}

.recommend {
    border: 1px solid green;
}

.center-content-box {
    border: 1px solid black;
}

.center-box-top,
.center-box-center,
.center-box-bottom {
    border: 1px solid white;
}


/*

    RECOMMEND-WHISKEY

 */
.recommend-whiskey-container {
    border: 1px solid black;
}

.rw-title {
    border: 1px solid green;
}

.rw-empty {
    border: 1px solid darkolivegreen;
}

/*

    CHANGE-PASSWORD

 */
.change-password-box {
    border: 1px solid black;
}