/* 공통 */
.container {
    border: 1px solid black;
}

.content {
    border: 1px solid red;
}

.empty-div {
    border: 1px solid blue;
}

.footer {
    border: 1px solid purple;
}

/* MAIN */
.explanation {
    border: 1px solid yellow;
}

.recommend {
    border: 1px solid green;
}

.center-content-box {
    border: 1px solid black;
}

.center-box-top,
.center-box-center,
.center-box-bottom {
    border: 1px solid white;
}