footer {
    margin-top: 0;

    width: 100vw;
    height: 30vh;
    text-align: center;

    display: flex;
    justify-content: space-between;

    /*background: linear-gradient(to bottom, white, lightgray);*/
}

footer div {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    margin: 0 auto;

    width: 33%;
}

.footer-tab-1 {

    border-right: 2px solid rgba(100, 100, 100, 0.5);

    background: linear-gradient(to left, white, lightgray) no-repeat left;
    background-size: 13vw 100%;
}

.footer-tab-2 {

    border-left: 2px solid rgba(100, 100, 100, 0.5);
    border-right: 2px solid rgba(100, 100, 100, 0.5);
}

.footer-tab-3 {

    border-left: 2px solid rgba(100, 100, 100, 0.5);

    background: linear-gradient(to left, lightgray, white) no-repeat right bottom;
    background-size: 13vw 100%;
}