nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo-image {
    height: 50px;
    margin-left: 5%;
}

nav button {
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav button.active {
    background-color: darkblue;
    border-radius: 20px;
    color: white;
}

nav button.active:hover {
    opacity: 0.8;
}

nav button:hover {
    background-color: darkblue;
    border-radius: 20px;
    opacity: 0.5;
}