body, html {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.content {
    width: 74vw;
    height: 100%;
    margin-top: 15vh;
    margin-bottom: 25vh;
}

.empty-div {
    width: 13vw;

    flex-grow: 1;
}

.empty-div.left {
    background: linear-gradient(to left, white, lightgray);
}

.empty-div.right {
    background: linear-gradient(to right, white, lightgray);
}