<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/user/forgotPassword.css">
</head>
<body>
<!--header navbar-->
<th:block th:replace="~{/component/guest-header.html :: guest-header}"></th:block>

<div class="container">
    <div class="empty-div"></div>
        <div class="content">
            <!--page contents-->
            <div class="forgotPassword-container">
                <div class="forgotPassword-box">
                    <h2 class="forgotPassword-title">Find password</h2>
                    <input type="text" name="username" placeholder="아이디" class="forgotPassword-input">
                    <input type="text" name="name" placeholder="이름" class="forgotPassword-input">
                    <input type="email" name="email" placeholder="이메일" class="forgotPassword-input">
                    <div class="button-group">
                        <button class="forgotPassword-button">Find password</button>
                    </div>
                <a href="/guest/signIn" class="signIn-text">Sign in !</a>
            </div>
        </div>
    </div>
    <div class="empty-div"></div>
</div>

<!--footer-->
<th:block th:replace="~{/component/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/component/footer.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbar = document.querySelector('.navbar');
        const buttons = navbar.querySelectorAll('button');

        // active 를 추가할 버튼의 텍스트를 입력
        const targetText = 'Sign in';

        buttons.forEach(button => {
            if (button.textContent.trim() === targetText) {
                button.classList.add('active');
            }
        });
    });
</script>
</body>
</html>