<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/components/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/components/buttons.css">
</head>
<body>
    <!--navbar-->
    <nav>
        <button class="active" onclick="location.href='/guest/main'">Main</button>
        <button onclick="location.href='/guest/liquor'">Liquor</button>
        <button onclick="location.href='/guest/community'">Community</button>
        <button onclick="location.href='/guest/signIn'">Sign in</button>
    </nav>
    <!--page contents-->
    <div class="container">

    </div>
</body>
</html>