<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-title.css">
</head>
<body>
    <!--navbar-->
    <nav class="navbar">
        <img src="/images/logo.png" class="logo-image">
        <div style="margin-left:auto;">
            <button class="active" onclick="location.href='/guest/main'">Main</button>
            <button onclick="location.href='/guest/liquor'">Liquor</button>
            <button onclick="location.href='/guest/community'">Community</button>
            <button onclick="location.href='/guest/sign-in'">Sign in</button>
        </div>
    </nav>

    <div class="container">
        <!--page contents-->
        <div class="main-container">
            <!--제목-->
            <div class="title">
                <div class="liquor">LIQUOR</div>
                <div class="lounge">LOUNGE</div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <div class="footer-tab-1">footer tab 1</div>
        <div class="footer-tab-2">footer tab 2</div>
        <div class="footer-tab-3">footer tab 3</div>
    </footer>

    <!--script-->
    <script src="/js/footer/footer.js"></script>
    <script src="/js/main/main.js"></script>
</body>
</html>