<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-title.css">
</head>
<body>
    <!--header navbar-->
    <th:block th:replace="~{/component/guest-header.html :: guest-header}"></th:block>

    <div class="container">
        <div class="empty-div"></div>
        <div class="content">
        <!--page contents-->
            <div class="main-container">
            <!--제목-->
                <div class="title">
                    <div class="liquor">LIQUOR</div>
                    <div class="lounge">LOUNGE</div>
                </div>
            </div>
        </div>
        <div class="empty-div"></div>
    </div>

    <!--footer-->
    <th:block th:replace="~{/component/footer.html :: footer}"></th:block>

    <!--script-->
    <script src="/js/component/footer.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navbar = document.querySelector('.navbar');
            const buttons = navbar.querySelectorAll('button');

            // active 를 추가할 버튼의 텍스트를 입력
            const targetText = 'Main';

            buttons.forEach(button => {
                if (button.textContent.trim() === targetText) {
                    button.classList.add('active');
                }
            });
        });
    </script>
    <script src="/js/main/main.js"></script>
</body>
</html>