<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/components/user/sign-up.css">
</head>
<body>
<!--navbar-->
<nav>
    <img src="/images/logo.png" class="logo-image">
    <div style="margin-left:auto;">
        <button onclick="location.href='/guest/main'">Main</button>
        <button onclick="location.href='/guest/liquor'">Liquor</button>
        <button onclick="location.href='/guest/community'">Community</button>
        <button class="active" onclick="location.href='/guest/sign-in'">Sign in</button>
    </div>
</nav>
<!--page contents-->
<div class="sign-up-container">
    <div class="sign-up-box">
        <h2 class="sign-up-title">Sign up</h2>
        <form id="signUpForm" action="/api/users/register" method="post" enctype="application/x-www-form-urlencoded">
            <input type="text" name="username" placeholder="아이디" class="sign-up-input" required>
            <input type="password" name="password" placeholder="비밀번호" class="sign-up-input" required>
            <input type="password" name="confirmPassword" placeholder="비밀번호 확인" class="sign-up-input" required>
            <input type="text" name="name" placeholder="이름" class="sign-up-input" required>
            <input type="email" name="email" placeholder="이메일" class="sign-up-input" required>
            <input type="date" name="birthdate" placeholder="생일" class="sign-up-input" required>
            <div class="button-group">
                <button type="submit" class="signUp-button">Sign up</button>
            </div>
        </form>
        <a href="/guest/sign-in" class="sign-in-text">Sign in !</a>
    </div>
</div>

<!--script-->
<script src="/js/user/validation.js" defer></script>
</body>
</html>