<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/components/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/components/sign-in.css">
</head>
<body>
<!--navbar-->
<nav>
    <img src="/images/logo.png" class="logo-image">
    <div style="margin-left:auto;">
        <button class="active" onclick="location.href='/guest/main'">Main</button>
        <button onclick="location.href='/guest/liquor'">Liquor</button>
        <button onclick="location.href='/guest/community'">Community</button>
        <button onclick="location.href='/guest/sign-in'">Sign in</button>
    </div>
</nav>
<!--page contents-->
<div class="sign-in-container">
    <div class="sign-in-box">
        <h2 class="sign-in-title">Sign in</h2>
        <input type="text" placeholder="아이디" class="sign-in-input">
        <input type="password" placeholder="비밀번호" class="sign-in-input">
        <div class="button-group">
            <button class="sign-in-button">Sign in</button>
        </div>
        <a href="/guest/sign-up" class="sign-up-text">Sign up !</a>
        <a href="/guest/forgot-password" class="forgotPassword-text">Forgotten password ?</a>
    </div>
</div>

<!--script-->
<script src="/js/sign-in.js"></script>
</body>
</html>