.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.pagination span {
    font-size: 14px;
}