<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <!--CSS-->

</head>
<body>
    <div class="container">
        <div class="empty-div"></div>
        <div class="content">
            <!--page content-->
            <div class="page-container">

            </div>
        </div>
        <div class="empty-div"></div>
    </div>

    <!--script-->
    <script src="/js/footer/footer.js"></script>
</body>
</html>