<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <nav class="navbar">
        <img class="logo-image" src="/images/logo.png" alt="logo">
        <div style="margin-left:auto;">
            <button class="header-button" onclick="location.href='/pages/main'">Main</button>
            <button class="header-button" onclick="location.href='/pages/liquor'">Liquor</button>
            <button class="header-button" onclick="location.href='/pages/community'">Community</button>
            <button class="header-button in" onclick="location.href='/pages/sign-in'">Sign in</button>
            <button class="header-button out" onclick="signOut()">Sign out</button>
        </div>
    </nav>
</th:block>
</html>