<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/components/liquor/liquor.css">
    <link rel="stylesheet" type="text/css" href="/css/components/liquor/liquor-list.css">
    <link rel="stylesheet" type="text/css" href="/css/components/liquor/liquor-pagination.css">
</head>
<body>
<!--navbar-->
<nav>
    <img src="/images/logo.png" class="logo-image">
    <div style="margin-left:auto;">
        <button onclick="location.href='/member/main'">Main</button>
        <button class="active" onclick="location.href='/member/liquor'">Liquor</button>
        <button onclick="location.href='/member/community'">Community</button>
        <button onclick="signOut()">Sign out</button>
    </div>
</nav>
<!--page contents-->
<div class="liquor-container">
    <div class="tabs">
        <button class="tab active" onclick="showTab('whiskey')">Whisky</button>
        <button class="tab" onclick="showTab('gin')">Gin</button>
        <button class="tab" onclick="showTab('rum')">Rum</button>
        <button class="tab" onclick="showTab('wine')">Wine</button>
        <button class="tab" onclick="showTab('others')">Others</button>
    </div>
    <div id="liquor" class="tab-content active">
        <div class="liquor-list">
            <!--동적으로 리스트가 추가될 자리-->
        </div>
        <div class="pagination">
            <!--페이지 전환 버튼 추가-->
        </div>
    </div>
</div>

<!--script-->
<script src="/js/user/sign-out.js"></script>
<script src="/js/liquor/liquor-tabs.js"></script>

<!--시작 기본 호출 스크립트-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        showTab('whiskey');
    })
</script>
</body>
</html>