<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <!--디자인용 보더 생성-->
<!--    <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-title.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-recommend.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-explanation.css">
</head>
<body data-target-text="Main">
<!--header navbar-->
<th:block th:replace="~{/component/member-header.html :: member-header}"></th:block>
<!--page contents-->
<div class="container">
    <div class="empty-div left"></div>
    <div class="content">
        <div class="main-container">
            <!--제목-->
            <div class="title">
                <div class="liquor">LIQUOR</div>
                <div class="lounge">LOUNGE</div>
            </div>
            <!--웹 페이지 설명-->
            <div class="explanation">
                EXPLANATION
            </div>
            <!--추천-->
            <div class="recommend">
                <div class="recommend-buttons">
                    <div class="recommend-whiskey">
                        <div class="recommend-box-top">
                            <div class="recommend-box-top-color">
                                <div class="top-object-text whiskey">WHISKEY !</div>
                                <div class="top-object-button">|</div>
                                <div class="top-object-button">[]</div>
                                <div class="top-object-button exit">X</div>
                            </div>
                        </div>
                        <div class="recommend-box">
                            <div class="recommend-box-center">
                                <button class="whiskey-button" onclick="location.href='/member/recommend/whiskey'">WHISKEY</button>
                            </div>
                            <div class="recommend-box-right">
                                <div class="recommend-box-right-color">
                                    <div class="right-object whiskey"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommend-whiskey-text">WHISKEY WHI<br>SKEY WHISKE<br>Y WHISKEY W<br>HISKEY WHIS<br>KEY WHISKEY<br>WHISKEY WHI<br>SKEY WHISKE<br>Y WHISKEY W</div>
                    <div class="recommend-cocktail">
                        <div class="recommend-box-top">
                            <div class="recommend-box-top-color">
                                <div class="top-object-text whiskey">COCKTAIL !</div>
                                <div class="top-object-button">|</div>
                                <div class="top-object-button">[]</div>
                                <div class="top-object-button exit">X</div>
                            </div>
                        </div>
                        <div class="recommend-box">
                            <div class="recommend-box-center">
                                <button class="cocktail-button" onclick="location.href='/member/recommend/cocktail'">COCKTAIL</button>
                            </div>
                            <div class="recommend-box-right">
                                <div class="recommend-box-right-color">
                                    <div class="right-object cocktail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommend-cocktail-text">COCKTAIL CO<br>COTAIL COCK<br>TAIL COCKTA<br>IL COCKTAIL<br>&nbsp;COCKTAIL C<br>OCKTAIL COC<br>KTAIL COCKT<br>AIL COCKTAI</div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-div right"></div>
</div>

<!--footer-->
<th:block th:replace="~{/component/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/component/footer.js"></script>
<script src="/js/component/header.js"></script>
<script src="/js/user/sign-out.js"></script>
<script src="/js/main/main.js"></script>
<script src="/js/main/main-recommend.js"></script>
</body>
</html>