<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-title.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-recommend.css">
</head>
<body data-target-text="Main">
<!--header navbar-->
<th:block th:replace="~{/component/member-header.html :: member-header}"></th:block>
<!--page contents-->
<div class="container">
    <div class="empty-div"></div>
    <div class="content">
        <div class="main-container">
            <!--제목-->
            <div class="title">
                <div class="liquor">LIQUOR</div>
                <div class="lounge">LOUNGE</div>
            </div>
            <!--웹 페이지 설명-->
            <div class="explanation">
                EXPLANATION
            </div>
            <!--추천-->
            <div class="recommend">
                <div class="recommend-text">TEXT</div>
                <div class="recommend-buttons">
                    <div class="recommend-whiskey">
                        <button class="whiskey-button" onclick="location.href='/member/recommend/whiskey'">WHISKEY</button>
                    </div>
                    <div class="recommend-whiskey-text">WHISKEY WHI<br>SKEY WHISKE<br>Y WHISKEY W<br>HISKEY WHIS<br>KEY WHISKEY</div>
                    <div class="recommend-cocktail">
                        <button class="cocktail-button" onclick="location.href='/member/recommend/cocktail'">COCKTAIL</button>
                    </div>
                    <div class="recommend-cocktail-text">COCKTAIL CO<br>COTAIL COCK<br>TAIL COCKTA<br>IL COCKTAIL<br>COCKTAIL CO</div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-div"></div>
</div>

<!--footer-->
<th:block th:replace="~{/component/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/component/footer.js"></script>
<script src="/js/component/header.js"></script>
<script src="/js/user/sign-out.js"></script>
<script src="/js/main/main.js"></script>
<script src="/js/main/main-recommend.js"></script>
</body>
</html>