<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/components/navbar.css">
    <script src="/js/signOut.js"></script>
</head>
<body>
<!--navbar-->
<nav>
    <img src="/images/logo.png" class="logo-image">
    <div style="margin-left:auto;">
        <button class="active" onclick="location.href='/member/main'">Main</button>
        <button onclick="location.href='/member/liquor'">Liquor</button>
        <button onclick="location.href='/member/community'">Community</button>
        <button onclick="signOut()">Sign out</button>
    </div>
</nav>
<!--page contents-->
<div class="container">

</div>
</body>
</html>