<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
<!--    디자인용 보더 생성-->
<!--        <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/user/change-password.css">
</head>
<!--따옴표 속에 active 속성을 넣을 버튼의 Text 입력 (대소문자 구분)-->
<body data-target-text="Sign in">
<!--header navbar-->
<th:block th:replace="~{/components/public/header.html :: header}"></th:block>

<div class="container">
    <th:block th:replace="~{/components/public/empty-div.html :: left}"></th:block>
    <div class="content">
        <!--page content-->
        <div class="change-password-container">
            <div>
                <div class="change-password-box">
                    <h2 class="change-password-title">Change password</h2>
                    <input type="text" name="password" placeholder="비밀번호" class="change-password-input pw">
                    <input type="text" name="password-check" placeholder="비밀번호 확인" class="change-password-input pw-check">
                    <div class="button-group">
                        <button class="change-password-button" onclick="changePassword()">Change password</button>
                    </div>
                    <a href="/pages/signIn" class="signIn-text">Sign in !</a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/components/public/empty-div.html :: right}"></th:block>
</div>

<!--footer-->
<th:block th:replace="~{/components/public/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/components/url.js"></script>
<script src="/js/components/footer.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/user/find-password.js"></script>
</body>
</html>