<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <!--디자인용 보더 생성-->
    <!--    <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/community/community.css">
</head>
<body data-target-text="Community">
<!--header navbar-->
<th:block th:replace="~{/components/public/header.html :: header}"></th:block>

<div class="container">
    <th:block th:replace="~{/components/public/empty-div.html :: left}"></th:block>
    <div class="content">
        <!-- 커뮤니티 -->
        <div class="container-community">
            <table>
                <thead>
                <tr class="tabs">
                    <th class="tab number">번호</th>
                    <th class="tab title">제목</th>
                    <th class="tab author">작성자</th>
                    <th class="tab S_number">조회수</th>
                    <th class="tab date">작성일</th>
                    <th class="tab likes">공감</th>
                    <th class="tab comments">댓글</th>
                </tr>
                </thead>
                <tbody id="postTableBody">
                <tr th:each="post : ${posts}" class="backg">
                    <td th:text="${post.id}"></td>
                    <td th:text="${post.title}"></td>
                    <td th:text="${post.author}"></td>
                    <td th:text="${post.readCount}"></td>
                    <td th:text="${post.writeDate != null ? post.writeDate.format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd')) : 'N/A'}"></td>
                    <td th:text="${post.likeCount}"></td>
                    <td th:text="${post.react_count}"></td>
                </tr>
                <tr th:if="${#lists.isEmpty(posts)}">
                    <td colspan="7" class="no-posts">게시글이 없습니다.</td>
                </tr>
                </tbody>
            </table>

            <div class="form-container">
                <select id="searchCriteria" onchange="updatePlaceholder()">
                    <option value="title">제목</option>
                    <option value="author">작성자</option>
                    <option value="content">내용</option>
                </select>&nbsp;
                <input type="text" id="searchInput" placeholder="검색" onkeyup="searchPosts()">
                <button id="search">검색</button>
                <button id="addPostButton" onclick="showLoginAlert()">게시글 작성</button>
            </div>

            <!-- 페이지 넘기는 기능 추가할 것 -->
        </div>
    </div>
    <th:block th:replace="~{/components/public/empty-div.html :: right}"></th:block>
</div>

<!--footer-->
<th:block th:replace="~{/components/public/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/components/url.js"></script>
<script src="/js/components/footer.js"></script>
<script src="/js/components/header.js"></script>
<script src="/js/community/login-before.js"></script>
</body>
</html>