<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>LiquorLounge</title>
    <!--디자인용 보더 생성-->
    <!--    <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/user/forgotPassword.css">
</head>
<body data-target-text="Sign in">
<!--header navbar-->
<th:block th:replace="~{/components/header.html :: header}"></th:block>

<div class="container">
    <div class="empty-div left"></div>
    <div class="content">
        <!--page contents-->
        <div class="forgotPassword-container">
            <div class="forgotPassword-box">
                <h2 class="forgotPassword-title">Find password</h2>
                <input type="text" name="username" placeholder="아이디" class="forgotPassword-input">
                <input type="text" name="name" placeholder="이름" class="forgotPassword-input">
                <input type="email" name="email" placeholder="이메일" class="forgotPassword-input">
                <div class="button-group">
                    <button class="forgotPassword-button">Find password</button>
                </div>
                <a href="/pages/signIn" class="signIn-text">Sign in !</a>
            </div>
        </div>
    </div>
    <div class="empty-div right"></div>
</div>

<!--footer-->
<th:block th:replace="~{/components/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/components/url.js"></script>
<script src="/js/components/footer.js"></script>
<script src="/js/components/header.js"></script>

</body>
</html>