<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>LiquorLounge</title>
    <!--디자인용 보더 생성-->
    <!--    <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/liquor/liquor.css">
    <link rel="stylesheet" type="text/css" href="/css/components/liquor/liquor-list.css">
    <link rel="stylesheet" type="text/css" href="/css/components/liquor/liquor-pagination.css">
</head>
<body data-target-text="Liquor">
<!--header navbar-->
<th:block th:replace="~{/components/public/header.html :: header}"></th:block>
<div class="container">
    <th:block th:replace="~{/components/public/empty-div.html :: left}"></th:block>
    <div class="content">
        <!--page contents-->
        <div class="liquor-container">
            <div class="tabs">
                <button class="tab active" onclick="showTab('whiskey', 1)">Whiskey</button>
                <button class="tab" onclick="showTab('gin', 1)">Gin</button>
                <button class="tab" onclick="showTab('rum', 1)">Rum</button>
                <button class="tab" onclick="showTab('wine', 1)">Wine</button>
                <button class="tab" onclick="showTab('others', 1)">Others</button>
            </div>
            <div id="liquor" class="tab-content active">
                <div class="liquor-list">
                    <!--동적으로 리스트가 추가될 자리-->
                </div>
                <div class="pagination">
                    <!--페이지 전환 버튼 추가-->
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{/components/public/empty-div.html :: right}"></th:block>
</div>

<!--footer-->
<th:block th:replace="~{/components/public/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/common/url.js"></script>
<script src="/js/common/footer.js"></script>
<script src="/js/common/header.js"></script>
<script src="/js/liquor/liquor-tabs.js"></script>

<!--시작 기본 호출 스크립트-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        showTab('whiskey', 1);
    })
</script>
</body>
</html>