<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <!--디자인용 보더 생성-->
<!--    <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-title.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-recommend.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-explanation.css">
    <link rel="stylesheet" type="text/css" href="/css/components/main/main-recommend-box.css">
</head>
<body data-target-text="Main">
<!--header navbar-->
<th:block th:replace="~{/components/public/header.html :: header}"></th:block>
<!--page contents-->
<div class="container">
    <th:block th:replace="~{/components/public/empty-div.html :: left}"></th:block>
    <div class="content">
        <div class="main-container">
            <!--제목-->
            <th:block th:replace="~{/components/main/title.html :: title}"></th:block>
            <!--웹 페이지 설명-->
            <th:block th:replace="~{/components/main/explanation.html :: explanation}"></th:block>
            <!--추천-->
            <div class="recommend">
                <div class="recommend-buttons">
                    <th:block th:replace="~{/components/main/recommend-whiskey.html :: recommend-box-whiskey}"></th:block>
                    <th:block th:replace="~{/components/main/recommend-cocktail.html :: recommend-box-cocktail}"></th:block>
                </div>
            </div>
            <!--SECTION 3-->
            <th:block th:replace="~{/components/main/section3.html :: section3}"></th:block>
        </div>
    </div>
    <th:block th:replace="~{/components/public/empty-div.html :: right}"></th:block>
</div>

<!--footer-->
<th:block th:replace="~{/components/public/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/common/url.js"></script>
<script src="/js/common/url.js"></script>
<script src="/js/common/footer.js"></script>
<script src="/js/common/header.js"></script>
<script src="/js/main/main.js"></script>
<script src="/js/main/main-recommend.js"></script>
</body>
</html>