<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <!--디자인용 보더 생성-->
<!--        <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/recommend/recommend.css">
    <link rel="stylesheet" type="text/css" href="/css/components/recommend/whiskey.css">
</head>
<!--따옴표 속에 active 속성을 넣을 버튼의 Text 입력 (대소문자 구분)-->
<body data-target-text="">
<!--header navbar-->
<!--<th:block th:replace="~{/components/public/header.html :: header}"></th:block>-->

<div class="container">
    <th:block th:replace="~{/components/public/empty-div.html :: left}"></th:block>
    <div class="content">
        <!--page content-->
        <div class="recommend-whiskey-container">
            <div class="question-div">question 1</div>
            <div class="answer-button">
                <button class="answer one" onclick="setWhiskeyQuestion(1)">answer 1-1</button>
                <button class="answer two" onclick="setWhiskeyQuestion(2)">answer 2-1</button>
            </div>
        </div>
        <div class="block">추천할만한 위스키를 찾는중...</div>
        <div class="recommend-whiskey-answer-container">
            <!--동적으로 추천된 위스키의 정보가 추가될 자리-->
        </div>
    </div>
    <th:block th:replace="~{/components/public/empty-div.html :: right}"></th:block>
</div>

<!--footer-->
<!--<th:block th:replace="~{/components/public/footer.html :: footer}"></th:block>-->

<!--script-->
<script src="/js/components/url.js"></script>
<!--<script src="/js/components/footer.js"></script>-->
<!--<script src="/js/components/header.js"></script>-->
<!--<script src="/js/recommend/sign-in-check.js"></script>-->
<script src="/js/recommend/whiskey.js"></script>
</body>
</html>