<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <title>LiquorLounge</title>
    <!--디자인용 보더 생성-->
    <!--    <link rel="stylesheet" type="text/css" href="/css/common/dev-border.css">-->
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/common/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/common/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/components/community/written.css">
</head>
<body data-target-text="Community">
<!--header navbar-->
<th:block th:replace="~{/components/public/header.html :: header}"></th:block>

<div class="container">
    <th:block th:replace="~{/components/public/empty-div.html :: left}"></th:block>
    <div class="content">
        <!-- 커뮤니티 글쓰기 -->
        <div class="container-community">
            <form action="/posts" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
                </div>
                <div class="form-group">
                    <textarea id="content" name="content" rows="8" placeholder="내용을 입력하세요" required></textarea>
                </div>
                <div class="form-group">
                    <input type="file" id="image" name="image" accept="image/*">
                </div>
                <button type="submit">등록</button>
            </form>
        </div>
    </div>
    <th:block th:replace="~{/components/public/empty-div.html :: right}"></th:block>
</div>

<!--footer-->
<th:block th:replace="~{/components/public/footer.html :: footer}"></th:block>

<!--script-->
<script src="/js/common/url.js"></script>
<script src="/js/common/footer.js"></script>
<script src="/js/common/header.js"></script>
<script src="/js/community/filter.js"></script>
</body>
</html>