:root {
    /* colorSet-1 */
    /*
    --topColor: #9986B3;
    --rightColor: white;

    --rightObject: #9986B3;

    --textColor: #9986B3;

    --backgroundColor: #E0DBEF;

    --borderLine: #C4BEE2;
     */
    /* colorSet-2 */
    --topColor: #828385;
    --rightColor: #F9F9F9;

    --rightObject: #9E9E9E;

    --textColor: black;

    --backgroundColor: #DBDBDB;

    --borderLine: #A4A4A4;
}

@font-face {
    font-family: 'font1';
    /*src: url('/font/KoomikMono-Regular.otf') format('truetype');*/
    src: url('/font/nimbusmono-bold.otf') format('truetype');
}

@font-face {
    font-family: 'retro';
    src: url('/font/DungGeunMo.otf') format('truetype');
}

.recommend {
    display: block;
    align-items: center;
    width: 68vw;
}

.recommend-buttons {
    position: relative;

    width: 100%;
    height: 92.3vh;

    margin-top: 0;
    margin-bottom: 0;
}

/*

    WHISKEY , COCKTAIL

 */
.recommend-whiskey,
.recommend-cocktail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

    width: 60%;
    height: 52.95vh;

    background-color: var(--backgroundColor);

    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.recommend-whiskey-text,
.recommend-cocktail-text {
    position: relative;

    width: 40%;

    font-family: font1, serif;
    font-style: italic;
    font-size: 3.9vw;
    font-weight: bold;

    color: var(--textColor);

    overflow: hidden;

    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/*

    WHISKEY

 */
.recommend-whiskey {
    top: 0;
    left: 0;

    z-index: 10;

    box-shadow: -5px 5px 15px var(--rightObject);

    transform: translateX(-35px);
    transform-origin: top left;
}

.recommend-whiskey-text {
    top: -57.6%;
    left: 60%;

    z-index: 1;

    height: 52.95vh;

    transform: translateX(35px);
}

/*

    COCKTAIL

 */
.recommend-cocktail {
    top: -72.8%;
    left: 40%;

    z-index: 15;

    box-shadow: 5px 5px 15px var(--rightObject);

    transform: translateX(35px);
    transform-origin: bottom right;
}

.recommend-cocktail-text {
    top: -115.3%;
    left: 0;

    height: 39.1vh;

    transform: translateX(-35px);
}