:root {
    /* colorSet-1 */
    /*
    --topColor: #9986B3;
    --rightColor: white;

    --rightObject: #9986B3;

    --backgroundColor: #E0DBEF;

    --borderLine: #C4BEE2;
     */
    /* colorSet-2 */
    --topColor: #828385;
    --rightColor: #F9F9F9;

    --rightObject: #9E9E9E;

    --backgroundColor: #DBDBDB;

    --borderLine: #A4A4A4;
}

@font-face {
    font-family: 'font1';
    /*src: url('/font/KoomikMono-Regular.otf') format('truetype');*/
    src: url('/font/nimbusmono-bold.otf') format('truetype');
}

.recommend {
    display: block;
    align-items: center;
    width: 68vw;
}

.recommend-buttons {
    position: relative;

    width: 100%;
    height: 92.3vh;

    margin-top: 0;
    margin-bottom: 0;

    .recommend-whiskey,
    .recommend-cocktail {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        position: relative;

        width: 60%;
        height: 52.95vh;

        background-color: var(--backgroundColor);
        box-shadow: 5px 5px 15px var(--rightObject);

        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .recommend-whiskey-text,
    .recommend-cocktail-text {
        position: relative;

        width: 40%;

        font-family: font1, serif;
        font-style: italic;
        font-size: 4vw;
        font-weight: bold;

        color: var(--rightObject);

        overflow: hidden;

        opacity: 0;
        transition: opacity 0.5s ease;
    }
}

.recommend-whiskey {
    top: 0;
    left: 0;

    z-index: 10;

    transform: translateX(-35px);

}

.recommend-cocktail {
    top: -72.8%;
    left: 40%;

    transform: translateX(35px);

    z-index: 15;
}

.recommend-whiskey-text {
    top: -57.6%;
    left: 60%;

    z-index: 1;

    height: 52.95vh;
}

.recommend-cocktail-text {
    top: -115.3%;
    left: 0;

    height: 39.1vh;
}

.recommend-box-top {
    width: 99.3%;
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

    .recommend-box-top-color {
        width: 99%;
        height: 88%;

        background-color: var(--topColor);

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .top-object-text {
            width: 82%;
            height: 85%;

            margin-left: 2%;
            margin-top: 5px;

            display: flex;
            align-items: center;

            font-family: font1, serif;
            font-size: 1.5vw;

            color: white;
        }

        .top-object-button {
            width: 1.8vw;
            height: 3.3vh;
            margin-left: 1px;
            margin-right: 2px;

            border: none;
            border-radius: 0.3rem;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 1vw;
            color: white;

            background-color: var(--backgroundColor);
        }

        .top-object-button:hover {
            background-color: var(--rightObject);
            color: var(--topColor);
        }

        .top-object-button.exit {
            margin-right: 5px;

            background-color: red;
        }

        .top-object-button.exit:hover {
            background-color: darkred;
            color: darkgray;
        }

    }

    border: 2px solid var(--borderLine);
}

.recommend-box {
    width: 99.65%;
    height: 92%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    border-right: 2px solid var(--borderLine);
    border-bottom: 2px solid var(--borderLine);
}

.recommend-box-center {
    height: 100%;
    width: 96%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 2px solid var(--borderLine);
}

.recommend-box-right {
    height: 100%;
    width: 4%;

    display: flex;
    justify-content: center;
    align-items: center;

    .recommend-box-right-color {
        height: 99%;
        width: 85%;

        background-color: var(--rightColor);

        .right-object {
            position: relative;

            left: 0;

            width: 100%;
            height: 15%;

            background-color: var(--rightObject);
        }

        .right-object:hover {
            background-color: var(--topColor);
        }

        .right-object.whiskey {
            top: 20%;
        }

        .right-object.cocktail {
            top: 55%;
        }
    }

    border-left: 2px solid var(--borderLine);
}
