@font-face {
    font-family: 'font1';
    src: url('/font/nimbusmono-bold.otf') format('truetype');
}

.recommend {
    display: block;
    align-items: center;
    width: 68vw;

    border: 1px yellow solid;
}

.recommend-buttons {
    position: relative;

    width: 100%;
    height: 92.3vh;

    margin-top: 0;
    margin-bottom: 0;

    border: 1px green solid;

    .recommend-whiskey,
    .recommend-cocktail {
        position: relative;

        width: 60%;
        height: 52.95vh;

        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;

        border: 1px red solid;
    }

    .recommend-whiskey-text,
    .recommend-cocktail-text {
        position: relative;

        width: 40%;

        font-family: font1, serif;
        font-style: italic;
        font-size: 4vw;

        overflow: hidden;

        opacity: 0;
        transition: opacity 0.5s ease;

        border: 1px blue solid;
    }
}

.recommend-whiskey {
    top: 0;
    left: 0;

    transform: translateX(-35px);

    background-color: gray;
}

.recommend-cocktail {
    top: -72.8%;
    left: 40%;

    z-index: 10;

    transform: translateX(35px);

    background-color: lightgray;
}

.recommend-whiskey-text {
    top: -57.6%;
    left: 60%;

    z-index: 1;

    height: 52.95vh;
}

.recommend-cocktail-text {
    top: -115.3%;
    left: 0;

    height: 39.1vh;
}


