<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="recommend-box-whiskey">
    <div class="recommend-whiskey">
        <div class="recommend-box-top">
            <div class="recommend-box-top-color">
                <div class="top-object-text whiskey">WHISKEY !</div>
                <div class="top-object-button">—</div>
                <div class="top-object-button">□</div>
                <div class="top-object-button exit">×</div>
            </div>
        </div>
        <div class="recommend-box">
            <div class="recommend-box-center">
                <div class="center-content-box">
                    <div class="center-box-top">
                        <div class="center-box-top-no1">당신의&nbsp;</div>
                        <div class="center-box-top-no2 whiskey">WHISKEY</div>
                        <div class="center-box-top-no3">&nbsp;를</div>
                    </div>
                    <div class="center-box-center">
                        <div>찾아보세요 !</div>
                    </div>
                    <div class="center-box-bottom">
                        <div><span class="c-color">LIQUOR LOUNGE</span>&nbsp;가<br>개인적인 성향에 맞는<br><span class="w-color">whiskey</span> 를 추천해드립니다 !</div>
                    </div>
                </div>
                <button class="whiskey-button" onclick="recommendButtonAction('/pages/recommend-whiskey')">TRY NOW !</button>
            </div>
            <div class="recommend-box-right">
                <div class="recommend-box-right-color">
                    <div class="right-object whiskey"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="recommend-whiskey-text">WHISKEY WHI<br>SKEY WHISKE<br>Y WHISKEY W<br>HISKEY WHIS<br>KEY WHISKEY<br>WHISKEY WHI<br>SKEY WHISKE<br>Y WHISKEY W</div>
</th:block>
</html>